.subheading{
    text-align: center;
}
.subheading,
#order-nav{
    color: wheat;
    font-style: italic;
}
#order-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style:inside; /* this makes the bullet markers stay close to the list*/
    list-style-type: square;
}
h1{
    color: wheat;
}
.container-order{
    display: flex;
    flex-wrap: nowrap;
}
@media all and (max-width: 600px){
    .container-order{
        display: flex;
        flex-direction: column;
    }
}
/* food tips styling */
a.food-tips{
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: yellow;
}
#food{
    padding: .5rem;
    background-color: rosybrown;
}
#quantity{
    padding: .2rem;
    background-color: rosybrown;
}
#textarea{
    background-color: rosybrown;
}
#submit{
    padding: .5rem;
    background-color: gold;
    font-weight: 800;
    outline: black solid 3px;
}
/* styling all the options with "value" attribute */
option[value] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
